<div >  
<h2>HEre</h2>
    {{!-- {{#each salons}} --}}
            <p>{{salon}}, {{this.state}} {{this.zip}}</p> 
            <h2><a href="/salons/{{this._id}}">{{this.name}}</a></h2>
            <p class = "category">{{this.service}}</p>
            <p>{{this.address}}</p>
            <p>{{this.city}}, {{this.state}} {{this.zip}}</p>  
            {{#if this.rated}}  
            <p class="avg">{{this.rating}}/5</p>
            {{else}}
            <p class="avg">No Reviews</p>
            {{/if}}
            <br/>
        </div>
    {{!-- {{/each}} --}}
    </div>