{{!-- <main></main>
<div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body">
                    {{!-- <h5 class="card-title"><a href="/salons/{{salonId._id}}">{{this.name}}</a></h5> --}}
                    {{!-- <p class="card-text">Name: {{this.name}}</p>
                    <p class="card-text">Website: {{this.website}}</p>
                    <p class="card-text">Service: {{this.service}}</p>
                    <p class="card-text">Address: {{this.address}}</p>
                    <p class="card-text">City: {{this.city}}</p>
                    <p class="card-text">State: {{this.state}}</p>
                    <p class="card-text">Zip: {{this.zip}}</p>
                    <p class="card-text">Longitude: {{this.longitude}}</p>
                    <p class="card-text">Latitude: {{this.latitude}}</p>
                    <p class="card-text">Rating: {{this.rating}}</p> --}}
                    {{!-- <p class="card-text">CovidRating: {{this.covidRating}}</p> --}}
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div> --}}


    {{!-- <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body"> --}}
                    {{!-- <h5 class="card-title"><a href="/salons/{{salonId._id}}">{{this.name}}</a></h5> --}}
                    {{!-- {{#each getReviews}}
                    <p class="card-text">Review: {{this}}</p>
                    {{/each}} --}}
                    {{!-- {{#each this.test}}
                    <p class="card-text">reviewText: {{this.reviewText}}</p>
                    <p class="card-text">rating: {{this.rating}}</p>
                    {{/each}} --}}
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                {{!-- </div>
            </div>
        </div>
    </div>
    <form id="login" action="/reviews/updatereview/{{this._id}}" method="POST">
                        <div class="dropdown">
                            <button class="dropbtn">Options</button>
                            <div class="dropdown-content">
                                <p><a href="../reviews/updatereview/{{this._id}}/edit">Edit Review</a></p>
                                {{!-- <p><a href="../reviews/reviews/{{this.salonId}}/{{this._id}}/delete">Delete Review</a></p> --}}
                            {{!-- </div>
                        </div> --}} 
    {{!-- </form>

<form id="login" action="/salons/{{this.salonId}}/delete" method="POST">
        <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content"> --}}
                {{!-- <p><a href="/reviews/{{this.review._id}}/edit">Edit Review</a></p>
                <p><a href="../sal/{{this.restaurant._id}}/{{this.review._id}}/delete">Delete Review</a></p> --}}
                {{!-- <p><a href="/salons/{{this.salonId}}/delete">Delete Salon</a></p>
                <p><a href="/salons/{{this.salonId}}/delete">Delete Salon</a></p>
            </div>
        </div>
    </form> --}}

  
  {{!-- <div class="container">
    <h1>Post a review for this Salon </h1>
    <form id="login" class="center padding" action="/reviews/reviews/{{this.salonId}}" method="POST">
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="text" class="form-control" id="rating" name="rating" aria-describedby="rating" placeholder="Rating">
        
      </div> --}}
      {{!-- <div class="form-group">
        <label for="reviewText">ReviewText:</label>
        <input type="text" class="form-control" id="reviewText" name="reviewText" aria-describedby="reviewText" placeholder="reviewText">
        
      </div>
      <button type="submit" id="btn-id" class="btn btn-primary">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form> --}}
    
      {{!-- {{#if errorcode}}
              
          <p class="error" >{{message}}</p>
          {{/if}}     

    </div>
  </div>


    {{#if data}}
    <ul>
        {{#each data}}
        <li>
            <a style="color: white;" href="/salons/">******{{this.salonId}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{this.data.name}}.</p>
    {{/if}}


    {{#if hasErrors}}
    {{#each errors}}
    <li>
        {{this}}
    </li>
    <div class="another">
        <a href="/">Make another search</a>
    </div>
    {{/each}}
    {{/if}}
    <div class="another">
        <a href="/">Make another search</a>
    </div>

</main> --}} 

{{!-- <h1>Characters Found</h1> --}}
<main>
 
    <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body">
                    {{!-- <h5 class="card-title"><a href="/salons/{{salonId._id}}">{{this.name}}</a></h5> --}}
                    <p class="card-text">Name: {{this.name}}</p>
                    <p class="card-text">Website: {{this.website}}</p>
                    <p class="card-text">Service: {{this.service}}</p>
                    <p class="card-text">Address: {{this.address}}</p>
                    <p class="card-text">City: {{this.city}}</p>
                    <p class="card-text">State: {{this.state}}</p>
                    <p class="card-text">Zip: {{this.zip}}</p>
                    <p class="card-text">Longitude: {{this.longitude}}</p>
                    <p class="card-text">Latitude: {{this.latitude}}</p>
                    <p class="card-text">Rating: {{this.rating}}</p>
                    <p class="card-text">CovidRating: {{this.covidRating}}</p>
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                </div>
            </div>
        </div>
    </div>
 
 
    <div class="card-deck">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body">
                    {{!-- <h5 class="card-title"><a href="/salons/{{salonId._id}}">{{this.name}}</a></h5> --}}
                    {{#each this.getReviews}}
                    <p class="card-text">reviewText: {{this.reviewText}}</p>
                    <p class="card-text">rating: {{this.rating}}</p>
                   <script src="https://use.fontawesome.com/fe459689b4.js"></script>

  {{!-- <button class="like" id="green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
  <button class="dislike" id="red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button> --}}

  {{!-- <div class="container"><a class="like">Like</a> 
  <a class="dislike">Dislike</a> 
  <input class="qty" name="qty" readonly="readonly" type="text" value="0" /></div> --}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container"> 
    <a class="like"><i class="fa fa-thumbs-o-up"></i>  
        Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
    </a>
    <a class="dislike"><i class="fa fa-thumbs-o-down"></i> 
        Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
    </a>
</div>
  
  <script src="/public/javascript/like.js"></script>
                    <p><a href="/reviews/reviews/updatereview/{{this._id}}">Edit Review</a></p>
                    <p><a href="/reviews/reviews/deletereview/{{this._id}}">Delete Review</a></p>
                    {{/each}}
                    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                </div>
            </div>
        </div>
    </div>
 
    {{!-- <button type="submit" class="btn btn-primary">delete</button> --}}
 
    {{!-- <button type="submit" class="btn btn-primary">review
        <a href=""></a>
    </button> --}}
 
    {{!-- <form method="post" action="/salons/{{salonId}}/delete?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content">
                {{!-- <p><a href="/reviews/{{this.review._id}}/edit">Edit Review</a></p> --}}
    {{!-- <p><a href="../sal/{{this.restaurant._id}}/{{this.review._id}}/delete">Delete Review</a></p> --}}
    {{!-- <p><a href="/salons/{{this.salonId}}/delete">Delete Review</a></p>
            </div>
        </div>
    </form> --}}
 
 
    <form id="login" action="/salons/{{this.salonId}}/delete" method="POST">
        <div class="dropdown">
            <button class="dropbtn">Options</button>
            <div class="dropdown-content">
                {{!-- <p><a href="/reviews/{{this.review._id}}/edit">Edit Review</a></p>
                <p><a href="../sal/{{this.restaurant._id}}/{{this.review._id}}/delete">Delete Review</a></p> --}}
                {{!-- <p><a href="/salons/{{this.salonId}}/delete">Delete Salon</a></p> --}}
                <p><a href="/salons/{{this.salonId}}/delete">Delete Salon</a></p>
                <p><a href="/salons/{{this.salonId}}/edit">Edit Salon</a></p>
            </div>
        </div>
    </form>
 
 
 
    <div class="container">
        <h1>Review </h1>
        <form id="login" class="center padding" action="/reviews/reviews/{{this.salonId}}" method="POST">
            <div class="form-group">
                <label for="rating">Rating:</label>
                <input type="text" class="form-control" id="rating" name="rating" aria-describedby="rating"
                    placeholder="Rating">
 
            </div>
            <div class="form-group">
                <label for="reviewText">ReviewText:</label>
                <input type="text" class="form-control" id="reviewText" name="reviewText" aria-describedby="reviewText"
                    placeholder="reviewText">
 
            </div>
            <button type="submit" id="btn-id" class="btn btn-primary">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
 
        {{#if errorcode}}
 
        <p class="error">{{message}}</p>
        {{/if}}
 
    </div>
 
 
 
 
    {{#if data}}
    <ul>
        {{#each data}}
        <li>
            <a style="color: white;" href="/salons/">******{{this.salonId}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{this.data.name}}.</p>
    {{/if}}
 
 
    {{#if hasErrors}}
    {{#each errors}}
    <li>
        {{this}}
    </li>
    <div class="another">
        <a href="/">Make another search</a>
    </div>
    {{/each}}
    {{/if}}
    <div class="another">
        <a href="/">Make another search</a>
    </div>
 
</main>