<h1>Characters Found</h1>
<main>
    {{!-- <h2>{{data.name}}</h2> --}}
    {{!-- <h1>{{this.data}}</h1> --}}
    {{!-- {{#each data}} --}}
    {{!-- <h1>{{this.salonId}}</h1> --}}
    <span>{{this.name}}</span>
    <span>{{this.address}}</span>
    <span>{{this.city}}</span>
    <span>{{this.rating}}</span>
    {{!-- {{/each}} --}}
    {{!-- <button class="open-button" onclick="openAlert()">Post a Review</button> --}}
    {{!-- <button class="open-button" onclick="openAlert()">Post a Review</button>
    <button class="open-button" onclick="openForm()">Post a Review</button>
    <div class="form-popup" id="myForm">
        <h2>Post a Review</h2>
        <form id="login-form" name ="loginForm" class="form-container" enctype="multipart/form-data" action="/reviews/{{salon._id}}" method="POST">
            <label>
                <input type="text" name="rating" id="rating" class = "inputFields" pattern="\d+" placeholder="Enter your Rating" required title="Enter a Number from 1 to 10"/> 
            </label>
            <label>
                <input type="text" name="reviewText" id="reviewText" class = "inputFields" placeholder="Enter your Review" required/>
            </label>
            {{!-- <input type="file" name="picture" accept="image/*" class=""/> --}}
            <button type="submit" class="btn">Post!</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div> --}}
    {{!-- {{#if currentUserData.reviewedRestaurantPage}} --}}
    {{!-- <button class="open-button" onclick="openAlert()">Post a Review</button>
            {{!-- <button class="open-button" onclick="openForm()">Post a Review</button>
            <button class="open-button" onclick="openLoginForm()">Post a Review</button> --}}
    <div class="form-popup" id="myForm">
        <h2>Post a Review</h2>
        <form id="login-form" name ="loginForm" class="form-container" enctype="multipart/form-data" action="/reviews/{{this.salonId}}" method="POST">
            <label for="ratings"></label>
                <input type="text" name="rating" id="ratings" class = "inputFields" pattern="\d+" placeholder="Enter your Rating" required title="Enter a Number from 1 to 10"/> 
            
            <label for="reviewTexts"></label>
                <input type="text" name="reviewText" id="reviewTexts" class = "inputFields" placeholder="Enter your Review" required/>
            
            {{!-- <input type="file" name="picture" accept="image/*" class=""/> --}}
            <button type="submit" class="btn">Post!</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>

    </div>
    <script src="/public/javascript/forms.js"></script> --}}

  
  <div class="container">
    <h1>Login </h1>
    <form id="login" class="center padding" action="/reviews/{{this.salonId}}" method="POST">
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="text" class="form-control" id="rating" name="rating" aria-describedby="rating" placeholder="Rating">
        
      </div>
      <div class="form-group">
        <label for="reviewText">ReviewText:</label>
        <input type="text" class="form-control" id="reviewText" name="reviewText" aria-describedby="reviewText" placeholder="reviewText">
        
      </div>
      <button type="submit" id="btn-id" class="btn btn-primary">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
    
      {{#if errorcode}}
              
          <p class="error" >{{message}}</p>
          {{/if}}
          

    </div>
    

  </div>
    
    {{!-- <form id="salon-review-form" class="center padding" action="/reviews/reviewform" method="POST">
        <label>
                <p>Salon name:</p> 
                <input id="name" name="Salon name" placeholder="Salon Name"/>
                </label>
            <label>
                <p>Review Text:</p> 
                <input id="name" name="text" placeholder="Space for entering Review"/>
                </label>
            <label>
            <p> Rating:</p> 
                <input id="rating" name="rating" placeholder="Rating: 1-10"/>
            </label>
            <button type="submit" id="btn-id">Submit</button>
        </form> --}}
        {{!-- <form action="//reviews/{{}}" method="POST" class="new-post-form">
      <label>
        {{ data.name }}
        <input type="text" name="name" placeholder="search" value="{{data.name}}" class="full-width-input" />
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
      </label>
    </form> --}}



    {{#if data}}
    <ul>
        {{#each data}}
        <li>
            <a style="color: white;" href="/salons/">******{{this.salonId}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{this.data.name}}.</p>
    {{/if}}


    {{#if hasErrors}}
    {{#each errors}}
    <li>
        {{this}}
    </li>
    <div class="another">
        <a href="/">Make another search</a>
    </div>
    {{/each}}
    {{/if}}
    <div class="another">
        <a href="/">Make another search</a>
    </div>

</main>